.wrapper{
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    &.inverted{
        color: black;
        background: white;
        border: 1px solid black;
    }
}

/* 글로벌 css */
:global{
    .something{
        font-weight: 800;
        color: aqua;
    }
    // you can make other class in here
}

// 일반 css/scss 에서도 CSSModule을 :local 를 사용하면 가능
:local .test{
    font-size: 100;
}

:local {
    .test{
        font-size: 100;
    }
}